
<%- include('partials/header'); -%>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">  Craete an Account</h1>
      <div class="social-container my-4 mx-auto">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <%- include('partials/messages'); -%> 
      <form action="/auth/register" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fName" class="font-weight-bold lead">Email</label>
            <input type="text" placeholder="First Name" name="first_name" id="fName" class="form-control"
              value="<%= typeof first_name != 'undefined' ? first_name : '' %>"
            />
          </div>

          <div class="form-group col-md-6">
            <label for="lName" class="font-weight-bold lead">Email</label>
            <input type="text" placeholder="Last Name" name="last_name" id="lName" class="form-control"
              value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="font-weight-bold lead">Email</label>
          <input type="email" placeholder="Email Address" name="email" id="email" class="form-control"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="password" class="font-weight-bold lead">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"/>
          </div>
          <div class="form-group col-md-6">
            <label for="cPswd" class="font-weight-bold lead">Confirm Password</label>
            <input type="password" id="cPswd" name="confirm-pswd" class="form-control" placeholder="Password Again"/>
          </div>
        </div>
        <button type="submit" class="btn btn-primary submit_btn">Register</button>
      </form>
      <div class="row mt-4 text-center">
        <div class="col-md-6">
          <p class="lead">New member? <a href="/auth/signin">Login</a></p>
        </div>
        <div class="col-md-6">
          <p class="lead">
            Return to <a href="/">Home</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>


<!-- <div id="container" class="container">
  <div class="form-container sign-up-container">
    <form action="/auth/register" method="POST">
      <h1>Create Account</h1>
      <%- include('partials/messages'); -%> 
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>Use your email for registration</span>
      <input type="text" placeholder="First Name" name="first_name"
      value="<%= typeof first_name != 'undefined' ? first_name : '' %>"
      />
      <input type="text" placeholder="Last Name" name="last_name" 
      value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
      />
      <input type="email" placeholder="Email" name="email" 
      value="<%= typeof email != 'undefined' ? email : '' %>"
      />
      <input type="password" placeholder="Password" name="password" 
      value="<%= typeof password != 'undefined' ? password : '' %>"
      />
      <button class="submit_btn">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="/auth/login" method="POST">
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>Use your account</span>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="#">Forgot your password?</a>
      <button class="submit_btn">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>
          Log in with your details to continue to the dashboard
        </p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details to get started</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
</div>   -->