<%- include('partials/header'); -%>

<h1 class="mt-4">Admin Page</h1>
<p class="lead mb-3">Welcome Admin</p>
<div class="mb-4">
    <% if(typeof users != 'undefined'){ %> 
        <% users.forEach(function(user) { %>
        <div class="user">
          <p>Id: <%= user._id %></p>
          <p>First Name: <%= user.first_name %></p>
          <p>Lastst Name: <%= user.last_name %></p>
          <p>Email: <%= user.email %></p>
        </div>
        <form method="POST" action="/auth/user/<%= user._id %>?_method=DELETE">
            <button class="btn btn-danger btn-block mt-4">Delete</button>
        </form>
        <% }); %> 
    <% } %>
</div>

<div class="get_users text-center"><a href="/auth/users">Get Users</a></div>
<p class="text-center lead mt-2">
    Return to <a href="/">Home</a>
</p>

<%- include('partials/footer'); -%>
